[workspace]
resolver = "2"
members = [
    "crates/github-actions-expressions",
    "crates/github-actions-models",
    "crates/yamlpath",
    "crates/zizmor",
]

[workspace.package]
authors = ["William Woodruff <william@yossarian.net>"]
readme = "README.md"
homepage = "https://docs.zizmor.sh"
edition = "2024"
license = "MIT"

[workspace.dependencies]
anyhow = "1.0.98"
github-actions-expressions = { path = "crates/github-actions-expressions", version = "0.0.3" }
github-actions-models = { path = "crates/github-actions-models", version = "0.29.0" }
itertools = "0.14.0"
pest = "2.8.0"
pest_derive = "2.8.0"
pretty_assertions = "1.4.1"
annotate-snippets = "0.11.5"
anstream = "0.6.18"
assert_cmd = "2.0.17"
camino = "1.1.9"
clap = "4.5.38"
clap-verbosity-flag = { version = "3.0.3", default-features = false }
clap_complete = "4.5.50"
clap_complete_nushell = "4.5.5"
csv = "1.3.1"
etcetera = "0.10.0"
flate2 = "1.1.1"
fst = "0.4.7"
http-cache-reqwest = "0.15.1"
human-panic = "2.0.1"
ignore = "0.4.23"
indexmap = { version = "2.9.0", features = ["serde"] }
indicatif = "0.17.11"
insta = "1.43.0"
jsonschema = "0.30.0"
line-index = "0.1.2"
owo-colors = "4.2.1"
regex = "1.11.1"
reqwest = { version = "0.12.15", default-features = false }
reqwest-middleware = "0.4.2"
serde = { version = "1.0.219", features = ["derive"] }
serde-sarif = "0.8.0"
serde_json = "1.0.140"
serde_json_path = "0.7.2"
serde_yaml = "0.9.34"
tar = "0.4.44"
terminal-link = "0.1.0"
thiserror = "2.0.12"
tokio = "1.45.1"
tracing = "0.1.41"
tracing-indicatif = "0.3.9"
tracing-subscriber = "0.3.19"
tree-sitter = "0.25.4"
tree-sitter-bash = "0.23.3"
tree-sitter-powershell = "0.25.2"
yamlpath = { path = "crates/yamlpath", version = "0.19.0" }
tree-sitter-yaml = "0.7.1"


[profile.dev.package]
insta.opt-level = 3

[profile.release]
lto = true
