[workspace]
resolver = "2"
members = [
    "crates/github-actions-expressions",
    "crates/github-actions-models",
    "crates/subfeature",
    "crates/yamlpatch",
    "crates/yamlpath",
    "crates/zizmor",
]

[workspace.package]
authors = ["William Woodruff <william@yossarian.net>"]
readme = "README.md"
homepage = "https://docs.zizmor.sh"
edition = "2024"
license = "MIT"
rust-version = "1.88.0"

[workspace.dependencies]
anyhow = "1.0.99"
github-actions-expressions = { path = "crates/github-actions-expressions", version = "0.0.9" }
github-actions-models = { path = "crates/github-actions-models", version = "0.32.0" }
itertools = "0.14.0"
pest = "2.8.1"
pest_derive = "2.8.1"
pretty_assertions = "1.4.1"
annotate-snippets = "0.12.2"
anstream = "0.6.20"
assert_cmd = "2.0.17"
camino = "1.1.12"
clap = "4.5.46"
clap-verbosity-flag = { version = "3.0.4", default-features = false }
clap_complete = "4.5.57"
clap_complete_nushell = "4.5.8"
csv = "1.3.1"
etcetera = "0.10.0"
flate2 = "1.1.2"
fst = "0.4.7"
http-cache-reqwest = "0.16"
human-panic = "2.0.3"
ignore = "0.4.23"
indexmap = { version = "2.11.0", features = ["serde"] }
indicatif = "0.18"
insta = "1.43.0"
jsonschema = "0.30.0"
line-index = "0.1.2"
memchr = "2.7.5"
owo-colors = "4.2.2"
regex = "1.11.2"
reqwest = { version = "0.12.23", default-features = false }
reqwest-middleware = "0.4.2"
serde = { version = "1.0.219", features = ["derive"] }
serde-sarif = "0.8.0"
serde_json = "1.0.143"
serde_json_path = "0.7.2"
serde_yaml = "0.9.34"
subfeature = { path = "crates/subfeature", version = "0.0.3" }
tar = "0.4.44"
terminal-link = "0.1.0"
thiserror = "2.0.16"
tokio = { version = "1.47.1", features = ["rt-multi-thread", "io-std"] }
tower-lsp = { version = "0.20.0" }
tracing = "0.1.41"
tracing-indicatif = "0.3.13"
tracing-subscriber = "0.3.20"
tree-sitter = "0.25.8"
tree-sitter-bash = "0.23.3"
tree-sitter-powershell = "0.25.8"
yamlpath = { path = "crates/yamlpath", version = "0.25.0" }
yamlpatch = { path = "crates/yamlpatch", version = "0.3.0" }
tree-sitter-yaml = "0.7.1"

[workspace.lints.clippy]
dbg_macro = "warn"
todo = "warn"
unimplemented = "warn"
use_debug = "warn"
needless_lifetimes = "warn"
print_stderr = "warn"
print_stdout = "warn"

[profile.dev.package]
insta.opt-level = 3

[profile.release]
lto = true
